.description {
  padding: 5px;
  background-color: wheat;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: arial;
}

.current-player-container {
  margin-bottom: 15px;
}

.video-js {
  width: 300px;
  height: 300px;
}

.current {
  width: 1280px;
  height: 528px;
}

.player-container-2 {
  position: relative;
  margin-top: 20px;
}
